<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> <%= image_tag("rbt logo.png", alt: "RBT Logo", :size => '1060x328') %> </h1>
    <p>
      Rod Bending Technology's misssion is to provide the highest quality fishing equipment for any serious or casual fisherman.
    </p>
    <p>
      The company was created in order to remediate the overwhelming lack of quality carp fishing equipment in the United States.
      Although Rod Bending Technology specializes in carp fishing, we offer fishing equipment of all sorts.
      We always put our customers first, and work hard to expand our product selection with items that will bend your rod!
    </p>
  </body>
</html>
