<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> <%= image_tag("rbt logo.png", alt: "RBT Logo", :size => '1060x328') %> </h1>
    <p>
      For any questions, email support@rbtfishing.com. Please allow up to 72 hours for a response.
    </p>
  </body>
</html>
