<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> <%= image_tag("rbt logo.png", alt: "RBT Logo", :size => '1060x328') %> </h1>
    <p>
      Site still under construction. 
    </p>
  </body>
</html>