<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <div class="center jumbotron">
      <h1> Rod Bending Technology </h1>
      <h2>
        Welcome to our Rod Bending Home :)
      </h2>
      <%= link_to "Sign up now!",  signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>