<% provide(:title, "Products") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> Rod Bending Technology </h1>
    <p>
      Please see below for currently offered products
    </p>
  </body>
</html>