<% provide(:title, "Products") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> <%= image_tag("rbt logo.png", alt: "RBT Logo", :size => '1060x328') %> </h1>
    <p>
      Please see below for currently offered products
    </p>
  </body>
</html>