<p>Rod Bending Technology</p>

<p>Hello <%= @user.name %>,</p>

<p>
Thank you for your interest in Rod Bending Technology Items. Your order has been placed. You may check the status on the www.rbtfishing.com website
</p>

<p>
Thank you
</p>
