<h1>Password reset</h1>

<p>We received a request to reset your password at rbtfishing.com</p>

<p>To reset your password click <%= link_to "here", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %></p>

<p>This link will expire in two hours.</p>

<p>
If you did not request your password to be reset, please ignore this email to keep your current password.
</p>
