<% provide(:title, "Sign up") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> Sign up </h1>
    <p>
      Here you will be able to sign up to become part of the rod bending family
    </p>
  </body>
</html>