<div class='cart_menu' >
  <%= button_to check_out_1_path, class: "btn btn-warning btn-sm", method: :get do %>
     <span class="glyphicon glyphicon-shopping-cart"></span>
      Check Out
  <% end %>
</div>
