<% provide(:title, 'Cart Items') %>
<h1>Items in your cart</h1>
<ul class="products">
  <%= render 'item' %>
</ul>
<h2><a href="/products"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-arrow-left"></span> Back to Products
</button></a></h2>

