<% provide(:title, @product.name) %>
<div class="row">
    <section class="product_info">
      <h1>
        <%= @product.name %>
      </h1>
      <description>
        <%= @product.description %>
      </description>
    </section>
    <% if @product.product_variants.any? %>
      <% @product.product_variants.map(&:name).uniq.each do | var_name | %>
        <div class="dropdown">
          <button class="dropbtn"><%= var_name %></button>
          <div class="dropdown-content">
          <% @product.product_variants.where(name: var_name).each do | pv | %>
            <a href="#"><%= pv.variation %> </a>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
